:root {
    --side-heading-width: #{fs-fluid(10rem, 13.5rem, 0.6)};
}

:root[data-js-enabled=false] {
    --side-heading-width: clamp(10rem, 20vw + 1rem, 13.5rem);
}


.container {
    max-width: max(65rem, 85vw);
    flex: 1 0;
    padding-inline: var(--margin-md);

    @media (min-width: $bp-tablet) {
        padding-inline: var(--margin);
    }
}

.main-content {
    display: flex;
    justify-content: center;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    padding-block: var(--margin) calc(var(--margin) * 2);
    row-gap: var(--row-gap, var(--margin-lg));
    
    section {
        width: 100%;
    }

    @media (min-width: $bp-monitor) {
        grid-template-columns: var(--side-heading-width) 1fr;

        [class*="side-"] {
            grid-column: 1 / span 1;
        }
        
        section {
            grid-column: 2 / span 1;
            width: initial;
            margin-inline: var(--margin) var(--margin);
        }
    }

    @media (min-width: $bp-desktop) {
        grid-template-columns: var(--side-heading-width) 1fr;
        
        section {
            margin-inline: var(--margin-lg) var(--margin-lg);
        }
    }
}
