.main-grid {
    display: grid;
    padding-block: var(--margin) calc(var(--margin) * 2);
    row-gap: var(--row-gap, var(--margin-lg));
    // column-gap: var(--margin);

    section {
        margin-inline: auto;
        width: 100%;
    }

    grid-template-columns: 1fr;
    @media (min-width: $bp-monitor) {
        --side-heading-width: #{fs-fluid(10rem, 13rem, 0.6)};
        grid-template-columns: var(--side-heading-width) 1fr;

        [class*="side-"] {
            grid-column: 1 / span 1;
        }
        
        section {
            grid-column: 2 / span 1;
            width: initial;
            margin-inline: var(--margin-lg) var(--margin-lg);
        }
    }

    @media (min-width: $bp-desktop) {
        --side-heading-width: #{fs-fluid(10rem, 13.5rem, 0.6)};
        grid-template-columns: var(--side-heading-width) 1fr var(--side-heading-width);
        // column-gap: var(--margin-lg);
    }
}
