@import url(header-styles.css);
@import url(wordmark-styles.css);

:root {
    --bg-grad: linear-gradient(180deg, #25315D 0%, #253B5D 100%);

    --soft-white: #F6F6F9;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: var(--soft-white);
}

body {
    margin: 0;
}
