@import url(/styles/header/navigation-styles.css);

header {
    display: flex;

    flex-direction: column;
    align-items: center;

    background: var(--bg-grad);
}
header * {
    color: var(--soft-white);
}

.header-inner {
    display: flex;

    flex-direction: column;
    
    width: 85vw;
    padding: 2.0em 0 0 0;
}

.header-content {
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    width: 85vw;
}
.header-introduction {
    display: flex;

    flex-direction: column;
    
    height: min-content;
    width: 60em;
    min-width: 35em;
    max-width: 45vw;
    
    margin-left: 4em;
}
.header-introduction h1 {
    margin: 0 0 0.50em 0;

    font-size: 2em;
    font-weight: bold;
}
.header-introduction h2 {
    margin: 0;

    font-size: 1.40em;
    font-weight: normal;
}

@media(max-width: 1100px){
    :root {
        font-size: 14px;
    }
}
@media(max-width: 1000px){
    :root {
        font-size: 13px;
    }
}
@media(max-width: 890px){    
    header {
        align-items: center;

        padding-bottom: 2.5em;
    }
    .header-inner {
        align-items: center;

        width: 90%;
    }
    .header-content {
        flex-direction: column;
        align-items: center;
        row-gap: 2em;
    }

    .header-introduction {
        min-width: initial;
        max-width: initial;
        width: initial;
        margin: 0;
    }
    .header-badge-wrap {
        position: initial;

        width: 100%;
    }
}
