@import url(/styles/header/navigation-styles.css);

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3em 6vw 1.5em 6vw;
    margin-bottom: 8em;
    row-gap: 0.5em;
    
    background: var(--bg-grad);
    min-height: 20em;

    font-size: 16px;
}

header > * {
    color: var(--soft-white);
}

.header-content {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    column-gap: 3em;
    width: 100%;
}

.header-introduction {
    display: flex;
    flex-direction: column;
    align-self: center;
    
    /* min-width: 45vw; */
    max-width: 40em;
}

.header-introduction h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.3em;
    
    /* min-width: 16em;
    max-width: 45vw; */
}
.header-introduction h2 {
    font-size: 1.3em;
    
    word-spacing: 0.125em;
    font-weight: normal;
}
.header-introduction address {
    display: inline;
    white-space: nowrap;
    width: min-content;
}

@media(max-width: 1000px) {
    header {
        padding: 3em 5vw;
        font-size: 15px;
    }
}

@media(max-width: 676px) {
    .header-introduction h1 {
        min-width: unset;
        max-width: unset;
    }
    .header-introduction h2 {
        min-width: unset;
        max-width: unset;
    }

    header{
        margin-bottom: 0;
    }
    .header-badge-wrap {
        display: none;
    }
}
