.navigation {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 3em;
}

nav {
    display: flex;

    flex-direction: row;
    justify-self: end;
    align-items: center;

    width: min-content;
    height: min-content;
    margin: 0.5em;
    column-gap: 1.5em;

    font-size: 1.125em;
    letter-spacing: 0.05em;
}
nav a {
    color: var(--light-grey);

    text-transform: capitalize;
    text-decoration: none;
}
nav :first-child, a:hover, a:active {
    color: var(--soft-white);
}

.contact-btn {
    border-radius: 3px;
    padding: 0.25em 0.5em;

    background-color: var(--bg-card);
    color: var(--accent-1);
}
.contact-btn:hover {
    color: var(--accent-1);
    box-shadow: 5px 5px hsla(227, 35%, 15%, 1);
    transform: translate(-3px, -3px);
}

/* nav {
    display: none;
}
.nav-toggle {
    display: block;
}
.nav-close {
    display: none;
} */

@media(max-width: 890px){
    .navigation {
        flex-direction: column;

        width: 100%;
        margin-bottom: 2em;
    }
    nav {
        display: flex;
        align-self: center;
    }
}
/* @media(max-width: 470px){
    .navigation {
        flex-direction: row;
        flex-wrap: nowrap;

        width: 100%;
        margin-bottom: 2em;
    }

    .nav-toggle {
        display: block;
    }
    html {
        overflow: hidden;
    }

    nav {
        display: none;
        align-self: start;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;

        margin: 0;
        row-gap: 3em;
        width: 80vw;
        max-width: 400px;
        height: 100vh;
        
        background: white;
        box-shadow: -5em 0 3em rgba(25, 31, 52, 0.452);
        font-size: 2em;
    }

    .nav-close {
        position: absolute;
        top: 1em;
        right: 1em;

        width: 2em;
        padding: 0.5em 0;
        text-align: center;
    }
    nav a:hover {
        color: black;
    }
    nav a {
        color: var(--accent-1);
    }
    nav :first-child {
        color: var(--accent-1);
    }
    nav :last-child {
        background: none;
    }
    nav :last-child:hover {
        box-shadow: none;
    }
} */
