
.wordmark {
    display: grid;
    grid-area: wordmark;
    width: min-content;
    margin: 0 2em 1em 0;
    
    column-gap: 0.5rem;
    grid-template-areas: "wordmark-logo wordmark-text"
                         ". wordmark-anchor";
}

.wordmark #wordmark-logo {
    grid-area: wordmark-logo;
    width: 3.5em;
}
.wordmark #wordmark-text {
    grid-area: wordmark-text;

    line-height: 125%;
    letter-spacing: 0.05em;

    font-size: 1.25em;
    margin: auto;
}
.wordmark #wordmark-anchor {
    grid-area: wordmark-anchor;
    
    width: 1.55em;
    display: flex;
    justify-self: right;
}