
.services {
    display: flex;
    max-width: 80em;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 9em 4em 7em var(--section-margin-left);
    column-gap: 30px;
}

.portfolio {
    display: flex;
    flex-direction: row;

    margin: 5em 4em 7em var(--section-margin-left);
    column-gap: 5em;
}
.portfolio-collection {
    display: flex;
    flex-direction: column;
    row-gap: 2.5em;
}

.testimonials {
    display: flex;
    flex-direction: row;
    margin: 5em 4em 7em var(--section-margin-left);
    column-gap: 4em;
}

.watermark {
    position: absolute;
    z-index: -1;
    right: 0;

    width: 25em;
}