@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

@import url(/styles/header/wordmark-styles.css);
@import url(/styles/header/availability-styles.css);
@import url(/styles/header/header-styles.css);
@import url(/styles/footer/footer-styles.css);
@import url(/styles/components/side-heading.css);
@import url(/styles/components/badge.css);
@import url(/styles/components/portfolio-item.css);
@import url(/styles/components/testimonial.css);

@import url(/styles/index/homepage-styles.css);

:root {
    --bg-grad: linear-gradient(180deg, #25315D 0%, #253B5D 100%);
    --bg-card: #F9F9FB;
    --bg-body: #FCFCFD;

    --soft-white: #F6F6F9;
    --light-grey: #D7D7DB;
    --soft-grey: #DDE8EE;
    --grey: #F0F1F2;
    --dark-grey: #6D707A;

    --dark-blue: #141B33;


    --accent-1: #406BBF;
    --accent-2: #5B7AE6;

    --round-font: 'M PLUS Rounded 1c', sans-serif;
}

* {
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    font-style: normal;
}

h1,h2,h3,h4,p {
    margin: 0;
}

a {
    text-decoration: none;
}

address {
    display: inline;
}

body {
    margin: 0;
    background: var(--bg-body);
}

.btn-icon {
    width: 1.1em;
    height: 1.1em;
}

.btn-pill {
    display: flex;
    flex-direction: row;

    width: min-content;
    
    align-items: center;
    padding: 0.4em 0.8em;
    column-gap: 0.6em;
    border-radius: 5em;
    
    font: 600 1.15em var(--round-font);
    text-decoration: none;
    background-color: var(--accent-2);
    color: var(--soft-white);
}
.btn-pill:hover {
    filter: grayscale(20%);
}

.btn-grey {
    padding: 0.25em 0.75em;
    border-radius: 3px;

    background-color: var(--soft-grey);
    color: var(--dark-blue);
    
    text-decoration: none;
}
.btn-grey:hover {
    color: var(--dark-blue);
    box-shadow: 5px 5px hsla(227, 35%, 15%, 1);
    transform: translate(-3px, -3px);
}
