[class*="btn-"] {
    display: inline-block;
    border: 0;

    font-size: var(--fs-100);
    font-variation-settings: 'wght' 610;
    text-transform: capitalize;
    text-decoration: none;
}
[class*="btn-"]:hover,
[class*="btn-"]:focus {
    filter: grayscale(0.15);
}


.btn-flat {
    padding: 0.35em 0.8em;
    border-radius: 4px;

    background-color: var(--clr-neutral);
    color: var(--clr-on-neutral);
    box-shadow: var(--shadow-300);
    
    transition: transform 250ms ease, box-shadow 300ms ease;
}
.btn-flat:hover,
.btn-flat:focus-visible {
    box-shadow: var(--shadow-400);
    transform: scale(1.05);
}


.btn-pill {
    display: flex;
    align-items: center;
    gap: 0.5em;
    max-width: max-content;
    padding: 0.5em 1.0em;
    border-radius: 50vmax;
    
    background-color: var(--clr-accent);
    color: var(--clr-on-primary--100);
    box-shadow: var(--shadow-300);

    font-size: inherit;
}
.btn-pill > img {
    max-height: 1.2em;
}
