.project-card {
    display: grid;
    align-items: center;
    gap: 1.25rem;
    max-width: 25rem;
    margin-inline: auto;

    grid-template-areas: 
        "i"
        "d"
        "a";

    @media (min-width: $bp-tablet) {
        max-width: 50rem;
        margin-inline: 0;

        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
            "i d"
            "i a";
    }
}

.project__img {
    grid-area: i;

    width: 100%;
    border-bottom: 6px solid var(--clr-neutral);
    border-radius: 6px;

    box-shadow: var(--shadow-400);
}

.project__desc {
    grid-area: d;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    font-size: var(--fs-300);
}

.project__actions {
    grid-area: a;
}
