*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*:focus-visible {
    outline: 2px solid var(--clr-focus);
}

img, picture {
    display: block;
    max-width: 100%;
}

html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;

    background-color: var(--bg-body);
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}
