@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@200;400;900&family=Yeseva+One&display=swap');

:root {
    /*    font sizes    */
    // --fs-300: clamp(1.00rem, 1vw + 0.50rem, 1.15rem);
    // --fs-400: clamp(1.20rem, 1vw + 0.75rem, 1.45rem);
    // --fs-500: clamp(1.20rem, 0.75vw + 1rem, 1.5rem);
    // --fs-600: clamp(1.35rem, 1vw + 1rem, 2rem);

    --fs-100: #{fs-fluid(0.850rem, 1.000rem, 1)};
    --fs-200: #{fs-fluid(1.000rem, 1.088rem, 1)};
    --fs-300: #{fs-fluid(1.000rem, 1.310rem, 0.4)};
    --fs-400: #{fs-fluid(1.310rem, 1.578rem, 0.6)};
    --fs-500: #{fs-fluid(1.578rem, 1.901rem, 1)};
    --fs-600: #{fs-fluid(1.578rem, 2.289rem, 1)};
    --fs-700: #{fs-fluid(1.578rem, 2.757rem, 1)};
    --fs-800: #{fs-fluid(1.578rem, 3.321rem, 1)};
    --fs-900: #{fs-fluid(1.578rem, 4.000rem, 1)};

    /*    font families   */
    --ff-serif: 'Yeseva One', serif;
    --ff-sans: 'Nunito', sans-serif;
    --ff-display: var(--ff-serif);    
}

.fnt-sans {
    font-family: var(--ff-sans) !important;
}
.fnt-display {
    font-family: var(--ff-display) !important;
}

body {
    font-family: var(--ff-sans);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}

.smallcaps {
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1.1em;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

.indent {
    text-indent: var(--indent, 1rem);
}
ul[class~="indent"] {
    text-indent: initial;
    margin-left: var(--indent, 1rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-display);
}

a {
    color: var(--clr-accent);
}

address {
    display: inline;
}

.article-segment-group {
    --col-gap: 0;
    max-width: 55em;
}

.article-segment {
    --col-gap: 0;
    max-width: 95%;
    
    font-size: var(--fs-300);

    text-align: justify;
    text-align-last: left;
    hyphens: auto;
}
.article-segment em {
    font-weight: 600;
}
.article-segment :is(h1, h2, h3, h4, h5, h6) {
    text-align: left;
}

// margin between headings and segments
[class*="heading"] + .article-segment {
    margin-top: var(--section-heading-gap, 1.15rem);
}

// margin between segments
.article-segment + .article-segment {
    margin-top: var(--segment-gap, 2.3rem);
}

// margin between segment titles and content
$elm-heading: "h1, h2, h3, h4, h5, h6, label";
.article-segment :is(#{$elm-heading}) + p {
    margin-top: var(--segment-heading-gap, 0.5rem);
}

// margin between segment paragraphs
.article-segment p + p {
    margin-top: var(--segment-paragraph-gap, 1.15rem);
}
