
@mixin col {
    display: flex;
    flex-direction: column;
    gap: var(--col-gap, 1rem);
}
.col { @include col; }

@mixin row {
    display: flex;
    flex-direction: row;
    gap: var(--row-gap, 1rem);
}
.row { @include row; }

@mixin responsive-row {
    @include col;
    align-content: center;

    @media (min-width: $bp-tablet) {
        @include row;
    }
}
.responsive-row { @include responsive-row; }

@mixin responsive-col {
    @include col;

    @media (min-width: $bp-tablet) and (max-width: $bp-monitor) {
        @include row;
    }
}
.responsive-col { @include responsive-col; }

.wrap-avoid {
    display: inline-block;
}

@mixin phone-only {
    @media (min-width: $bp-tablet) {
        display: none !important;
    }
}
@mixin tablet-and-up {
    @media (max-width: 655px) {
        display: none !important;
    }
}
@mixin monitor-and-up {    
    @media (max-width: 1007px) {
        display: none !important;
    }
}
.phone-only { @include phone-only; }
.tablet-and-up { @include tablet-and-up; }
.monitor-and-up { @include monitor-and-up; }

@mixin bg-neutral {
    border: 2px solid var(--clr-neutral);
    border-radius: 4px;
    
    background-color: var(--clr-subtle-neutral);
}

.bg-error {
    border: 3px solid var(--clr-error);
    border-radius: 4px;
}