
.alt-heading {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
}

.side-heading {
    display: flex;
    flex-direction: column;

    max-width: 8em;
    max-height: 11em;
    box-sizing: content-box;
    
    padding: 0 3em;
    margin: 0;
    
    color: var(--dark-blue);
    background: var(--grey);
    transform: skew(0, 6deg);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
}
@media(max-width: 1100px){
    .side-heading {
        padding: 0 2em;
    }
}
.side-heading p {
    margin: 0.5em 0;
    transform: skew(0, -6deg);
}
.side-heading h2 {
    margin: 0;
    transform: skew(0, -6deg);
}
