
.testimonial {
    display: flex;
    flex-direction: row;

    align-items: center;
    column-gap: 2em;
}

img[src$="images/chevron-left.svg"], img[src$="images/chevron-right.svg"] {
    width: 2.5em;
    transform: translateY(-60%);
}
.carousel-nav a {
    width: 0.65em;
    height: 0.65em;
    background: var(--dark-blue);
    border-radius: 50%;
    box-shadow: var(--light-shadow);
}
.carousel-nav a:active {
    background: var(--accent-1);
}

.testimonial-inner {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    align-items: center;
    max-width: 50em;
    padding: 1em;
    height: min-content;
}

.testimonial-inner>q {
    margin-bottom: 0em;
    text-align: center;
    font-family: var(--round-font);
    font-size: 1.5em;
    padding: 0.5em;
}

.testimonial-inner>span {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
    padding: 0.55em;
}
.testimonial-inner .avi {
    object-fit: cover;
    width: 3.5em;
    height: 3.5em;

    border: 2px solid rgba(64, 113, 191, 0.2);
    border-radius: 50%;
}
.testimonial-inner h2 {
    font-size: 1.5em;
    margin: 0.25em 0 0.4em 0;
    font-family: var(--round-font);
}
