
.testimonial {
    display        : flex;
    flex-direction : column;
    place-items    : center;
    justify-content: space-between;

    text-align: center;
    max-width : 50em;
    padding: 1em;
    height: min-content;
}

.testimonial>q {
    margin-bottom: 0em;
    font-size    : 1.5em;
    padding: 0.5em;
}

.testimonial>span {
    display       : flex;
    flex-direction: row;
    column-gap    : 1em;
    align-items   : center;
    padding: 4px;
    margin-left: -1em;
}
.testimonial img {
    object-fit: cover;
    width     : 3.5em;
    height    : 3.5em;

    border       : 2px solid rgba(64, 113, 191, 0.2);
    border-radius: 50%;
}
.testimonial h2 {
    font-size  : 1.75em;
    margin     : 0.25em 0 0.4em 0;
    font-family: var(--round-font);
}
