.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: clamp(0.5rem, 2vw, 5rem);
    
    @media (min-width: $bp-tablet) {
        flex-direction: row;
    }
}

.projects {
    --col-gap: var(--margin-lg);

    align-items: center;
}

@media (min-width: $bp-monitor) {
    .services {
        justify-content: flex-start;
    }

    .projects {
        align-items: flex-start;
    }
}