.section-icon > img { 
    max-width: 85%;
    max-height: 60%;
    padding: 0 15%;
}
.section-icon {
    align-self: start;
    transform: translateY(-25%);

    display: grid;
    // display: none;
    place-items: center;

    min-width: 4rem;
    aspect-ratio: 1;

    border-radius: 50%;

    background-color: var(--clr-neutral);
}
