
footer {
    display: flex;
    flex-direction: column;
    
    background: var(--bg-grad);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);

    box-shadow: -4px 64px 62px -48px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: -4px 64px 62px -48px rgba(0,0,0,0.4) inset;
    -moz-box-shadow: -4px 64px 62px -48px rgba(0,0,0,0.4) inset;
}

.main-footer {
    color: var(--soft-white);
    max-width: 28em;
    margin: 7em 0 4em 6em;
}
.main-footer h2 {
    font-size: 2em;
    font-family: var(--round-font);
    font-weight: 900;
    color: white;

    margin-bottom: 0.3em;
}
.main-footer p {
    font-size: 1.2em;
    margin-bottom: 2.0em;
    color: var(--light-grey);
}

.sub-footer {
    justify-self: flex-end;

    display: flex;
    flex-direction: row;
    width: 100%;

    padding: 1.5em 3em;
    justify-content: space-between;

    background: var(--dark-blue);
}
.sub-footer * {
    color: var(--dark-grey);
}
.sub-footer span {
    display: flex;
    flex-direction: row;
    column-gap: 1.25em;
}
